.App {
  text-align: center;
  font-size: .5rem;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 4.4rem;
  color: white;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 2.5rem;
  padding-right: .5rem;
}

.App-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10rem;
}

.App-link {
  color: #61dafb;
}

.App-table {
  margin: 1rem;
}

.App-color-picker {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.App-color-picker>button {
  margin-left: 1rem;
}

.App-editor {
  margin: 1rem;
  min-width: 0;
  width: 30rem;
  height: 450px;
  flex-direction: column;
}

.wled-test {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
